.card {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 380px;
  height: fit-content;
  background-color: rgb(241, 245, 249);
  box-shadow: 0 0 6px 4px rgb(221, 221, 221);
}

.cardHeader {
  display: flex;
  align-items: center;
  font-weight: 700;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(229, 231, 235);
}

.addButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
  padding: 0.25rem;
  border-radius: 100%;
  transition: all 0.15s ease-in-out;
}

.addButton:hover {
  background-color: rgb(221, 231, 235);
}

.addButton:active {
  background-color: rgb(209, 213, 219);
}

.input {
  display: flex;
  height: 30px;
  width: 100%;
  padding-left: 0.75rem;
}

.inputOption {
  flex: 1;
  height: 30px;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputRow {
  display: flex;
  align-items: center;
}

.inputName {
  min-width: 120px;
  font-weight: 700;
}

.inputOption {
  flex: 1;
  min-width: 160px;
}

.inputOptionSelect {
  flex: 1;
  height: 30px;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.inputField {
  flex: 1;
  height: 30px;
  min-width: 160px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: inherit;
  border-bottom: 1px solid rgb(209 213 219);
  padding: 0.25rem 2.5rem 0.25rem 0.5rem;
  outline: none;
  font-weight: 400;
  text-align: left;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.buttonError {
  border-radius: 100px;
  text-transform: none;
  padding: 0.5rem 0.75rem;
  transition: all 0.15s ease-in-out;
  color: white;
  background-color: rgb(239 68 68);
}

.buttonError:active {
  background-color: rgb(220 38 38);
}

.buttonInfo {
  border-radius: 100px;
  text-transform: none;
  padding: 0.5rem 0.75rem;
  transition: all 0.15s ease-in-out;
  color: white;
  background-color: rgb(59 130 246);
}

.buttonInfo:active {
  background-color: rgb(37 99 235);
}

.buttonSuccess {
  border-radius: 100px;
  text-transform: none;
  padding: 0.5rem 0.75rem;
  transition: all 0.15s ease-in-out;
  color: white;
  background-color: rgb(22 163 74);
}

.buttonSuccess:active {
  background-color: rgb(21 128 61);
}

.optionsWrapper {
  display: flex;
  margin-top: 0.25rem;
  position: relative;
  width: 100%;
}

.optionsInput {
  cursor: pointer;
  position: relative;
  width: 100%;
  min-height: 36px;
  border-bottom: 1px solid rgb(209 213 219);
  outline: none;
  font-weight: 400;
  padding: 0.25rem 2.5rem 0.25rem 0.5rem;
  text-align: left;
}

.optionsInputSvg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-right: 0.25rem;
}

.optionsInputSvg img {
  width: 1rem;
}

.optionsItem {
  cursor: pointer;
  user-select: none;
  position: relative;
  color: rgb(17 24 39);
  padding: 0.5rem 2.25rem 0.5rem 0.75rem;
}

.optionsMenu {
  z-index: 10;
  position: absolute;
  background: white;
  margin-top: 0.25rem;
  top: 2rem;
  background: white;
  max-height: 15rem;
  width: 100%;
  border-radius: 0.375rem;
  padding: 0.25rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
